.priceRange, .profitRange {
    padding: 10px 5px 0px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

.profitRange {
    margin-top: 15px;
}

.range-values {
    display: flex;
    justify-content: space-between;
}

.range-values__item {
    background-color: white;
    display: flex;
}

.value__item {
    padding: 5px;
}

.value__item--currency {
    border-right: 1px solid rgba(128, 128, 128, 0.4);
    color: grey;
}