.header {
    background-color: #F8F9FA;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__selection {
    padding-left: 15px;
    border-left: 1px solid #979797;
    font-size: 11px;
    font-weight: 500;
    margin-right: 4px;
}
.header__selection--show {
    font-size: 11px;
    font-weight: 500;
}
.log-out {
    margin-left: 15px;
}
.header__quantity-wrapper {
    display: flex;
}

.deleteAllBtn {
    margin-left: 5px;
}

@media only screen and (max-width: 1055px) {
    .selectAllBtn {
        display: none;
    }
    .deleteAllBtn {
        display: none;
    }
    .header__selection {
        border-left: none;
    }
}

@media only screen and (max-width: 1040px) {
    .header__selection--visible {
        display: none;
    }

}
@media only screen and (max-width: 768px) {
    .header__selection {
        display: none;
    }
   
}
@media only screen and (max-width: 530px) {
    .header__selection--show {
        display: none;
    }
   
}
