.SideBar__nav-right {
    width: 200px !important;
}
.SideBar__list--itemLink {
    list-style-type: none;
    text-decoration: none;
}
.SideBar__list--itemLink-user {
    list-style-type: none;
    text-decoration: none;
}
.linkWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.sideBar__link {
    color: #677791;
    text-transform: capitalize;
    font-size: 12px;
}
.active-side {
    background-color: rgba(97,213,223,.05);
}
.iconColor {
    color: #61D5DF;
}
.active-side::after{
    content: "";
    width: 3px;
    height: 42px;
    display: block;
    background-color: #61D5DF;
    position: absolute;
    right: 0;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.SideBar__list--item-right {
    list-style-type: none;
    cursor: pointer;
    width: 100%;

}