.header__form {
    display: flex;
}

.header__input {
    width: 300px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    outline: none;
    border: 1px solid #cacaca;
    border-right: none;
}

.header__searchbtn {
    font-size: 17px;
    background-color: #fff;
    border: none;
    color: #a8a4a4;
    cursor: pointer;
    border: 1px solid #cacaca;
    border-radius: 0 5px 5px 0;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

@media only screen and (max-width: 1200px) {
    .header__input {
        width: 100px;
    }
}

@media only screen and (max-width: 970px) {
    .header__input {
        width: 230px;
    }
}
@media only screen and (max-width: 615px) {
    .header__input {
        display: none;
    }
    .header__searchbtn {
        border-radius: 3px;
        border-left: 1px solid #cacaca;
        padding: 5px 10px;
        background-color: transparent;
    }
}
