.sort-section {
    padding: 15px 20px;
    border-bottom: 1px solid #dbe0f3;
    background-color: #fff;
    display: flex;
    align-items: center;
}

#sort {
    background-color: #FFF;
    background-color: transparent;
    border: none;
    outline: none;
    color: #a8a4a4;
}

@media only screen and (max-width: 768px) {
    .sort-section {
        text-align: center;
    }
}
