.modal__container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 14, 70, .7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__card {
    width: 1000px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal__close {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    color: #4e4e4e;
}

.modal__items {
    display: flex;
}

.modal-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 50px;
}

.item__info--price {
    padding: 20px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    border-radius: 7px;
    border: 1.5px solid #fff;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.item__info--image {
    padding: 30px;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.item__features--title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.09;
    text-align: left;
    color: #3b3b3b;
    margin-top: 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.about__pric-details {
    font-size: 22px;
    color: #616161;
    font-weight: 500;
}

.about__pric-mindetails {
    font-size: 14px;
    color: #707070;
    font-weight: 500;
    letter-spacing: .14px;
    opacity: .7;
    text-transform: uppercase;
}

.about__price {
    display: flex;
    flex-direction: column;
}

.item__description {
    margin: 20px 0;
    overflow-y: scroll;
    height: 38%;
}

.item__description::-webkit-scrollbar {
    width: 5px;
}
.item__description::-webkit-scrollbar-track {
    background: transparent;
}
.item__description::-webkit-scrollbar-thumb {
    border-radius: 1.2px;
    border: 4px solid #dadbdd;
}

.item__description-details{
    width: 120px;
    margin-top: 20px;
    padding-bottom: 5px;
    color: #616161;
    border-bottom: 1px solid #3b3b3b;
    font-size: 16px;
    font-weight: 600;
}
.modalShop__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__aditional-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__aditional-info p {
    line-height: 1.63;
    color: rgba(112,112,112,.7);
    font-size: 16px;
}
.modal__aditional-info p span {
    font-size: 16px;
    line-height: 1.63;
    text-align: left;
    color: #58c3cc;
    margin-left: 5px;
    outline: 0;
    cursor: pointer;
}
@media only screen and (max-width: 1170px) {
    .modal__card {
        width: 800px;
    }
}
@media only screen and (max-width: 840px) {
    .modal__container {
        height: max-content;
    }
    .modal__card {
        height: 100vh;
    }
    .modal__items {
        flex-direction: column;
    }
    .item__info--image {
        height: 190px;
    }
}
@media only screen and (max-width: 576px) {
    .item__info--image {
        padding: 10px;
    }
    .item__description {
        margin-top: 10px;
    }
    .item__description-details {
        margin: 10px 0;
    }
    .modal-item {
        margin: 0 15px;
    }
    .modalShop__wrapper {
        gap: 20px;
    }
}