.user {
  grid-column: 2/6;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border-left: 1px solid #dde3ee;
  box-sizing: border-box;
  background-color: #f8f9fa;
}
@media screen and (max-width: 980px) {
  .user {
    grid-column: 1/6;
    grid-row: 1;
  }
}
