.user__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user__info {
  border: 1px solid transparent;
  margin: 21px 0;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info__header {
  width: 100%;
  height: max-content;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #f5f5f5;
}
.form__list--itemLink {
  list-style-type: none;
  margin: 0 15px;
  font-size: 14px;
  font-weight: 600;
  color: #303856;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.header__deactivation {
  display: flex;
  width: 180px;
  height: 40px;
  border-radius: 4px;
  background: #fff1f1;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  color: #ff7b7b;
  border: none;
  cursor: pointer;
  outline: 0;
  margin-right: 50px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
.header__deactivation:active {
  opacity: 0.5;
}

.formik__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info__details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 22px;
}
.photo__det,
.photo__password,
.det__personal,
.det__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.photo__det > span,
.photo__password > span,
.det__personal > span,
.det__contact > span {
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #303856;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}
.test {
  max-width: 400px;
  width: 100%;
  height: 270px;
  border-radius: 4px;
  border: 1px solid #f9fbfe;
  background-color: #f9fbfe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.test > img {
  border-radius: 100%;
  padding: 4px;
  border: 6px solid #61d5df;
}
.test > button {
  width: 160px;
  height: 40px;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
}

.info__btn {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.info__btn > button {
  width: 160px;
  height: 40px;
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
}
.photo__det-info {
    font-size: 16px;
    font-style: normal;
    letter-spacing: normal;
    color: #303856;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}
@media screen and (max-width: 980px) {
  .user__info {
    justify-content: center;
    gap: 20px;
  }
  .info__details {
    flex-direction: column;
  }
  .details__item {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .test {
    width: 100%;
    max-width: 195px;
  }
  .user__header > span {
    font-size: 15px;
    text-align: center;
  }
  .btn__signout {
    font-size: 12px;
    padding: 8px 15px;
  }
  .form__list--itemLink {
    font-size: 12px;
  }
}
@media screen and (max-width: 710px) {
  .header__deactivation {
    display: none;
  }
  .info__btn  {
    justify-content: center;
  }
}