.user__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #dde3ee;
  padding: 25px 0;
}
.user__header > span {
  text-transform: uppercase;
  font-family: Gilroy-bold;
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #303856;
  margin-bottom: 4px;
  margin-left: 20px;
}
.header__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
.btn__signout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #e6eefc;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  outline: 0;
  border: none;
  color: #4785ef;
  text-transform: uppercase;
  margin-right: 10px;
}
.btn__signout:active {
  opacity: 0.5;
}
.user__header a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 980px) {
  .user__header {
    gap: 20px;
  }
}
