.MuiOutlinedInput-inputMultiline::-webkit-scrollbar {
    width: 5px;
}

.MuiOutlinedInput-inputMultiline::-webkit-scrollbar-track {
    background: transparent;
}

.MuiOutlinedInput-inputMultiline::-webkit-scrollbar-thumb {
    border-radius: 1.2px;
    border: 4px solid #dadbdd;
}
