.cart__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 0;
  }
  .cart__items svg {
    position: absolute;
    cursor: pointer;
  }
  .cart__items svg:active {
    opacity: 0.5;
  }
  .diff {
    color: #303856;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
  }
  .cart__items span {
    align-items: center;
    text-align: center;
    color: #303856;
    font-family: "Source sans pro";
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }
  
  .cntr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }
  .table-img {
    width: 100px;
    height: 100px;
  }
  .table-img img {
    width: 100%;
    height: 100%;
  }
  .title {
    font-size: 16px;
    color: #303856;
    font-family: Helvetica, serif;
    width: 80%;
    overflow: hidden;
    height: 24px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
  }
  .qty {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
  }
  