.cart__footer {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
    background-color: #fefefe;
    align-items: center;
    margin: 22px 0;
    padding: 25px 0;
  }

  .footer__data {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #303856;
    font-weight: 600;
    margin-right: 40px;
  }
  .footer__data div {
      margin: 0 10px;
  }
  .price {
    color: #4785ef;
    font-size: 16px;
  }
.cart__checkout {
  margin-left: 40px;
}

@media only screen and (max-width: 750px) {
  .cart__footer {
      flex-direction: column;
      padding: 22px 30px;
      width: unset;
  }
  .footer__data {
    flex-direction: column;
    align-items: unset;
    width: 100%;
    margin-right: 0;
    margin: 22px;
  }
  .cart__checkout {
    width: 100%;
    margin-left: 0;
  }
  .footer__data div {
    margin: 7px 0;
}
}