.cart__header {
    color: #000;
    border-bottom: 1px solid rgba(187,198,206,.11);
    background: 0 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .cart__header span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-align: right;
    color: #303856;
  }
  .header__about {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 865px){
    .header__about {
      margin: 0 10px;
    }
    .cart__header span {
      margin: 0 10px;
    }
  }