.cart {
    grid-template: 2/6;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f8f9fa;
    padding: 0 50px;
  }
  @media only screen and (max-width: 1000px) {
    .cart {
      padding: 0 10px;
    }
  }
  @media only screen and (max-width: 865px){
    .cart {
      padding: 0 ;
    }
  }