.stores {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #474f6e;
    margin-right: 10px;
} 
.page__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}